doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/main.css")
    title Eventify Task Manager
    
  body
    header
      h1 Eventify Task Manager
      nav
        a.button(href='/') Inicio
        a.button(href='/clients') Clientes
        a.button(href='/tasks') Tareas
        a.button(href='/clients/new') Alta Cliente
        a.button(href='/products') Productos
        a.button(href='/projects') Proyectos
        a.button(href='/departments') Áreas
    main
      block content
    footer
      p © 2025 Eventify Task Manager
